
<div class="container mt-5">

  <%= search_form_for @q, html: { class: 'mb-4' } do |f| %>
    <div class="input-group">
      <%= f.label :tags_name_cont, "Tag:", class: 'input-group-text' %>
      <%= f.search_field :tags_name_cont, class: 'form-control' %>
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  <% end %>

  <h1 class="my-4">Albums</h1>

  <div class="row">
    <% @albums.each do |album| %>
      <div class="col-lg-3 mb-4">
        <div class="card h-100">
        <strong>Cover Photo:</strong>
        <div class="mb-3 w-100">
          <%= image_tag(album.cover_image, alt: "Album Cover", class: 'img-fluid rounded') %>
        </div>
          <div class="card-body">
            <h5 class="card-title">Title: <%= album.title %></h5>
            <p class="card-text">Description: <%= album.description %></p>
            <p class="card-text">Tag: <%= album.all_tags %></p>
            <p class="card-text">Price: <%= album.price %></p>
          </div>
          <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Actions">
              <%= link_to 'Show', album, class: 'btn btn-primary' %>
              <%= link_to 'Edit', edit_album_path(album), class: 'btn btn-secondary' %>
              <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class=" mb-5">
  <%= link_to 'New Album', new_album_path, class: 'btn btn-primary' %>
  </div>
</div>


