<p style="color: green"><%= notice %></p>

<%= render @album %>

<style>
  .album-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .action-button, .action-button-danger {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .action-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }

  .action-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .action-button-danger {
    background-color: #f44336; /* Red */
    color: white;
  }

  .action-button-danger:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }
</style>

<div class="album-actions mb-5">
  <%= button_to "Edit", edit_album_path(@album), method: :get, class: "action-button" %>
  <%= button_to "Back to Albums", albums_path, method: :get, class: "action-button" %>
  <%= button_to "Destroy", @album, method: :delete, data: { confirm: "Are you sure?" }, class: "action-button-danger" %>
</div>




